<div *ngIf="catalog && categories" class="2xl:mx-auto w-full">
  <div
    [style.background-image]="'url(assets/img/home.jpg)'"
    class="relative rounded-md bg-cover bg-center pt-56 h-52 md:h-128"
  >
    <div
      class="text-xl relative bg-gradient-to-r w-full h-full top-0 md:p-16 p-6 flex flex-col justify-between rounded-md"
    >
      <div>
        <h1
          class="md:text-5xl text-3xl font-bold md:leading-10 leading-9 text-white sm:w-auto w-64"
        >
          {{ catalog.name }}
        </h1>
        <p
          class="text-lg leading-6 text-white xl:w-5/12 lg:w-8/12 md:w-10/12 2xl:pr-12 mt-4"
        >
          {{ catalog.description }}
        </p>
      </div>
    </div>
  </div>

  <div *ngFor="let category of catalog.catalog.categories">
    <div class="flex justify-center items-center p-4 md:p-24 bg-transparent">
      <!-- The left line -->
      <div class="flex-grow h-px bg-gray-400"></div>

      <!-- Your text here -->
      <h2>
        <span
          class="flex-shrink text-2xl text-gray-500 px-4 italic font-light"
          >{{ getCategoryName(category.code)?.name }}</span
        >
      </h2>
      <!-- The right line -->
      <div class="flex-grow h-px bg-gray-400"></div>
    </div>

    <app-category [categoryCode]="category.code"></app-category>
  </div>
</div>
