<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-12">
        <div class="row">
          <div class="logo mx-auto col-12">
            <img
              class="img-fluid"
              src="../../../assets/img/logo-white.png"
              alt="motkodesserts logo"
            />
          </div>
          <div class="col-12 mt-3 mb-3">
            <h3 class="text-white text-center">¡Siguenos en las redes!</h3>
          </div>
          <div class="d-flex justify-content-center col-12">
            <img
              class="social p-3"
              src="../../../assets/social-logo/tiktok.svg"
            />
            <img
              class="social p-3"
              src="../../../assets/social-logo/instagram.svg"
            />
            <img
              class="social p-1"
              src="../../../assets/social-logo/facebook.png"
            />
          </div>
          <div class="text-white text-center">
            Parque Empresarial Puerta de Madrid C / Cerrajeros, 19 28830 - San
            Fernando de Henares Madrid (España)
          </div>
        </div>
      </div>

      <div class="col-8 ml-5 text-white">
        <div class="row">
          <div class="col-lg-6 col-12">
            <h4>Contacto</h4>
            <p>+34 9AX XX XX XX</p>
            <p>+34 9AX XX XX XX</p>
          </div>
          <div class="col-lg-6 col-12">
            <h4>Información</h4>
            <p>info@motikodesserts.com</p>
          </div>
          <div class="col-12 pt-5">
            <h3>Novedades</h3>

            <div class="input-group mb-3 mt-5 input-padding rounded-pill">
              <input
                type="text"
                class="form-control border-0 shadow-none rounded-pill input-sm"
                placeholder="Tu dirección de email..."
                aria-label="email"
                aria-describedby="button-addon2"
              />
              <button
                class="footer-btn btn rounded-pill test-white"
                type="button"
                id="button-addon2"
              >
                Suscribete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
