<div class="footer p-5">
  <div class="row text-center">
    <div class="col-5">
      <div class="p-5 pb-2">
        <div class="p-4 logo mx-auto d-block">
          <img
            class="img-fluid"
            src="../../../assets/img/logo-white.png"
            alt="motkodesserts logo"
          />
        </div>
        <h3 class="text-white text-center m-2">¡Siguenos en las redes!</h3>
        <div class="d-flex justify-content-center m-3">
          <img
            class="social p-3"
            src="../../../assets/social-logo/tiktok.svg"
          />
          <img
            class="social p-3"
            src="../../../assets/social-logo/instagram.svg"
          />
          <img
            class="social p-1"
            src="../../../assets/social-logo/facebook.png"
          />
        </div>
      </div>
      <div class="text-white text-center">
        Parque Empresarial Puerta de Madrid C / Cerrajeros, 19 28830 - San
        Fernando de Henares Madrid (España)
      </div>
    </div>

    <div class="col-7">b</div>
  </div>
</div>
