<div class="w-full relative">
  <app-page-header
    [title]="title"
    [img]="imgHeader"
    [description]="headerDescription"
  ></app-page-header>

  <div class="list-style py-4" *ngFor="let d of data; let i = index">
    <app-left-card
      *ngIf="(i + 1) % 2 === 0"
      [title]="d.title"
      [subtitle]="d.subtitle"
      [img]="d.img"
      [shortDescription]="d.shortDescription"
      [description]="d.description"
      [color]="colors[i]"
      [index]="i"
    ></app-left-card>
    <app-right-card
      *ngIf="(i + 1) % 2"
      [title]="d.title"
      [subtitle]="d.subtitle"
      [img]="d.img"
      [shortDescription]="d.shortDescription"
      [description]="d.description"
      [color]="colors[i]"
      [index]="i"
    ></app-right-card>
  </div>
</div>
