<div
  *ngIf="cards && cards.length"
  class="m-0 p-0 w-full shadow-xl"
  style="position: absolute; top: 0"
>
  <div
    *ngFor="let card of cards; let i = index"
    class="hidden bg-cover bg-fixed bg-center overflow-hidden animate__animated animate__backInLeft"
    [ngClass]="{ active: selectedIndex === i }"
    [style.background-image]="'url(' + card.imgSrc + ')'"
  >
    <div class="w-full mt-10 md:flex md:justify-center">
      <div
        class="partial-border absolute bg-black/[.20] h-1/2 text-white m-8 mt-48 md:my-80 md:w-1/2 md:h-96 md:m-0"
      >
        <div class="text-center flex flex-col p-4">
          <h2 class="text-xl">
            {{ card?.title | titlecase }}
          </h2>
          <br />
          <p class="md:flex px-8 text-ellipsis w-full h-64 overflow-hidden">
            {{ card?.description }}
          </p>
          <a class="underline" [routerLink]="card.url">Read More</a>
        </div>
      </div>
    </div>
  </div>
</div>
