.img-shadow-0 {
  -webkit-box-shadow: -2rem 2rem 0px 0.5rem #ffe8f2;
  box-shadow: -2rem 2rem 0rem 0.5rem #ffe8f2;
}
.img-shadow-1 {
  -webkit-box-shadow: -2rem 2rem 0px 0.5rem #f1e0f3;
  box-shadow: -2rem 2rem 0rem 0.5rem #f1e0f3;
}
.img-shadow-2 {
  -webkit-box-shadow: -2rem 2rem 0px 0.5rem #f1f1f1;
  box-shadow: -2rem 2rem 0px 0.5rem #f1f1f1;
}
.img-shadow-3 {
  -webkit-box-shadow: -2rem 2rem 0px 0.5rem #fdeed7;
  box-shadow: -2rem 2rem 0px 0.5rem #fdeed7;
}

ul {
  @apply list-disc list-inside;
}
